.signin {
    display: inline-block;
    width: 600px;
    border: 5px solid purple;
    margin: 40px 20px;
    text-align: center;
    border-radius: 4px;
}

input {
    margin: 1%;
    border-radius: 4px;
    font-size: 18px;
}

input[type=submit] {
    display: block;
    margin: 5px auto;
    cursor: pointer;
}
